body{
  font-family: 'Helvetica', Arial, sans-serif;
}

/*  */
.gridContainer{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 200px 100px;
  grid-gap: 8px;
  border: 1px solid black;
  padding: 10px;
}

.box{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}